<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <p class="text-info">Selectionez les inscriptions à valider</p>
  <form>
    <button ng_if="demandes.docs.length>0" ng-click="checkAll()">Toutes</button>
    <button ng_if="demandes.docs.length>0" ng-click="uncheckAll()">Aucune</button>
    <button ng_if="demandes.docs.length>0" clas='btn btn-default' ng-click="traite(demandes);">
      <span> Appliquer </span>
    </button>
  </form>
      <p class="text-warning" ng-if="demandes.docs.length==0">  Chargement ...</p>
  <br>
  <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="app/utilisateurs/dirPagination.tpl.html"></dir-pagination-controls>

  <table class="table table-condensed table-striped">
    <tbody>
 <tr dir-paginate="user in demandes.docs | itemsPerPage: usersPerPage" total-items="totalUsers" current-page="pagination.current">

     NB Demande : {{demandes.total}}
        <td>
          <input type="checkbox" ng-model="user.isactif">
        </td>
        <td>
          {{user.creationDate | date: "dd/MM/yyyy"}}
        </td>
        <td>
          <strong>{{user.name}} </strong>&nbsp&nbsp{{user.surname}}
        </td>
        <td>
          {{user.email}}
          <td>
            {{user.structure}}
          </td>
      </tr>
    </tbody>
  </table>
  <br>
  <button ng_if="demandes.docs.length>20" ng-click="checkAll()">Toutes</button>
  <button ng_if="demandes.docs.length>20" ng-click="uncheckAll()">Aucune</button>
  <button ng_if="demandes.docs.length>20" clas='btn btn-default' ng-click="traite(demandes);">
    <span> Appliquer </span>
  </button>

</div>
