<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="col-md-12">

    <div class="alert alert-success" ng-if="userGroupes.length > 0">Vous administrez :
      <ul>
        <li ng-repeat=" grp in userGroupes">
          {{grp.info}}
        </li>
      </ul>
    </div>
  </div><span> {{alertMessage}}</span>
  <div id="calendar" class="calendar" ng-model="eventSources" calendar="myCalendar" ui-calendar="uiConfig.calendar"></div>

  <script type="text/ng-template" id="modalEv.html">
    <div class="modal-header">
      <h3 class="modal-title">{{titre}} {{libDate}}</h3>
      <div ng-if="!newEv"> Groupe : {{selectedGroupeInfo}}</div>
    </div>
    <div class="modal-body">
      <form class="form" name="editerForm" ng-submit="editer(editerForm)" novalidate>
        <tabset>
          <tab heading="Evenement">


            <div ng-form="forms.tab1" class="form-group" ng-class="{ 'has-success': editerForm.name.$valid && submitted,
                                    'has-error': editerForm.name.$invalid && submitted }">
              <div ng-if="newEv">
                Groupe
                <ui-select ng-model="grp.selected" ng-disable="disabled" style="width: 300px;" title="Groupe">
                  <ui-select-match placeholder="Selection dans la liste...">{{$select.selected.info}}</ui-select-match>
                  <ui-select-choices repeat="grp in isadminGroupes  | filter: $select.search|orderBy:'info'">
                    <div ng-bind-html="grp.info  | highlight: $select.search"></div>
                  </ui-select-choices>
                  Titre
                  <input type="text" name="title" class="form-control" ng-model="calEvent.title" ng-init="calEvent.title=grp.selected.info" required style="width:450px" />
                  <p class="help-block" ng-show="forms.tab1.title.$error.required && submitted">
                    Titre Obligatoire
                  </p>
                </ui-select>
                Description
                <input type="text" name="info" class="form-control" ng-model="calEvent.info" ng-init="calEvent.info='REUNION'" required style="width:450px" />
                <p class="help-block" ng-show="forms.tab1.title.$error.required && submitted">
                  Info Obligatoire
                </p>

              </div>
              <div ng-if="!newEv">
                Titre
                <input type="text" name="title" class="form-control" ng-model="calEvent.title" required style="width:450px" />
                <p class="help-block" ng-show="editerForm.title.$error.required && submitted">
                  Titre Obligatoire
                </p>
                Description
                <input type="text" name="info" class="form-control" ng-model="calEvent.info" required style="width:450px" />
                <p class="help-block" ng-show="editerForm.title.$error.required && submitted">
                  Info Obligatoire
                </p>
              </div>
              Lieu
              <textarea row=2 type="text" name="lieu" class="form-control" ng-model="calEvent.lieu" required style="width:450px" />
              <p class="help-block" ng-show="forms.tab1.lieu.$error.required && submitted">
                Lieu Obligatoire
              </p>


              <div class="row">
                <div class="col-md-6">
                  <input type="checkbox" ng-model="calEvent.allDay"> Journée complète.
                  <!--<div ng-show="calEvent.allDay">
                  <input type="date" ng-model="calEvent.start" name="indate" placeholder="yyyy-MM-dd" />
                </div>-->

                  <br>Date Début
                  <p class="input-group">

                    <input type="texte" class="form-control" style="width:150px" datepicker-popup="{{format}}" ng-model="calEvent.start" is-open="openedDD" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" />
                    <button type="button" class="btn btn-default" ng-click="openDD($event)"> <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                    <p class="help-block" ng-show="forms.tab1.lieu.$error.required && submitted">
                      Date Obligatoire
                    </p>

                    <div ng-show="!calEvent.allDay">
                      <div> Heure de début :
                        <timepicker ng-model="calEvent.start" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="false">Début</timepicker>
                      </div>

                      <!-- <span class="input-group-btn"></span>-->

                      Date Fin
                      <p class="input-group">
                        <input type="text" class="form-control" style="width:350px" datepicker-popup="{{format}}" ng-model="calEvent.end" is-open="openedDF" min-date=calEvent.start datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" />
                        <button type="button" class="btn btn-default" ng-click="openDF($event)"><i class="glyphicon glyphicon-calendar"></i>
                        </button>
                        <div> Heure de Fin :
                          <timepicker ng-model="calEvent.end" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>
                        </div>


                        <span class="input-group-btn">

        </span>
                    </div>
                    </p>
                </div>
              </div>

            </div>

            <!--<button class="btn btn-primary" ng-click="ok(editerForm)">OK</button>
          <button class="btn btn-warning" ng-click="cancel()">Abandon</button>-->
            <button ng-if="!newEv" class="btn btn-danger pull-rigth" ng-click="delete(editerForm)">Supprimer l'événement</button>
          </tab>
          <tab heading="Participants">
            Listes des participants:
	    <div ng-repeat="user in calEvent.participants"> {{user.uid}} 
            </div>
          </tab>
        </tabset>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok(editerForm)">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Abandon</button>
      <!--      <button ng-if="!newEv" class="btn btn-danger pull-rigth" ng-click="delete(editerForm)">Supprimer</button>-->

    </div>

    </form>
  </script>


</div>
</div>
